################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Uplift/.vs/Uplift/v16/Server/sqlite3
